<p id="notice"><%= notice %></p>

<h1>Books</h1>

<ul class="list-unstyled">

    <% @books.each do |book| %>
  <div class="media">
  <%= image_tag book.image_url, class: 'book-image' %>
    <div class="book-info">
      <h2><%= book.title %></h2>
      <p> <%= book.description %> </p>
    </div>
    <%= link_to 'Show', book %>
    <%= link_to 'Edit', edit_book_path(book) %>
    <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

 <% end %>

</ul>

<br>

<%= link_to 'New Book', new_book_path %>
