<p id="notice"><%= notice %></p>

<p>
  <h3>Title: <%= @book.title %></h3>
</p>

<p>
  <h3>Description:</h3>
  <%= @book.description %>
</p>

<p>
  <strong>   </strong>
  <%= image_tag @book.image_url , class: 'book-image' %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
